In [2]:
import numpy as np
import pandas as pd

In [5]:
# data = pd.read_excel("data.xlsx")
coor = pd.read_excel("coor.xlsx")
dob_wo_coor = pd.read_excel("dobicha_wo_coor.xlsx")
inj_wo_coor = pd.read_excel("Injection_wo_coor.xlsx")
dob_wo_coor.reset_index(drop=True, inplace=True)
inj_wo_coor.reset_index(drop=True, inplace=True)
coor.reset_index(drop=True, inplace=True)
coor

       Well          X           Y
0    Ic_001  546739.47  6417883.83
1    Ic_002  545628.62  6417919.90
2    Ic_003  544493.56  6418905.31
3    Ic_004  540095.48  6425354.33
4    Ic_005  542148.50  6423179.92
..      ...        ...         ...
170  Vt_640  555243.68  6411275.15
171  Vt_641  547747.73  6411596.78
172  Vt_642  556678.04  6411328.07
173  Vt_644  555578.16  6412009.50
174  Vt_654  552392.28  6407465.05

[175 rows x 3 columns]

In [9]:
# data_wr = data.groupby(["Well"], dropna=True).sum()
# data_coor = pd.merge(left=data_wr, right=coor, how="left", left_on="Well", right_on="Well")
dobicha_coor = pd.merge(left=dob_wo_coor, right=coor, how="left", left_on="Well", right_on="Well")
inj_coor = pd.merge(left=inj_wo_coor, right=coor, how="left", left_on="Well", right_on="Well")
inj_coor
# dobicha_coor.to_excel("dobicha_itog.xlsx")
inj_coor.to_excel("inj_itog.xlsx")