In [64]:
import pandas as pd

In [65]:
def func(x:str)->list:
    a = x.split("_")
    return [a[0], f"{a[1]}_{a[2]}"]

In [66]:
well_names = pd.read_excel("yar_names.xlsx")
well_project = pd.read_excel("yar_project.xlsx")
well_names

       Well          X           Y
0    001_V1  616928.21  6430450.45
1    003_P1  617900.55  6432211.52
2    002_V1  609291.53  6433179.62
3    017_V1  606402.01  6443324.56
4    007_V1  612531.76  6436362.62
..      ...        ...         ...
928  951_H1  591414.25  6429079.97
929  873_P1  606468.49  6445416.13
930  185_H3  624692.52  6430122.26
931  185_P1  625715.31  6430481.97
932  185_P2  624692.17  6430136.30

[933 rows x 3 columns]

In [67]:
lst = list(well_project["Name"].apply(func))
well_project = pd.DataFrame(lst, columns=["Field", "Well"])

In [68]:
well_project

     Field    Well
0       Ya  010_V1
1       Ya  011_V1
2       Ya  012_V1
3       Ya  013_V1
4       Ya  014_V1
...    ...     ...
1129    Az  345_P1
1130    Az  345_H2
1131    Az  354_H1
1132    Az  365_H1
1133    Az  369_H1

[1134 rows x 2 columns]

In [69]:
itog = pd.merge(left=well_names, right=well_project, how="left", left_on="Well", right_on="Well")
itog = itog.astype({"Well":"string", "Field":"string" })
itog["Well"] = itog["Field"] + "_" + itog["Well"]
itog = itog.drop(columns="Field")
itog.to_excel("yar_wells_itog.xlsx")